
     button{
       
       border-radius: 10px;
       width: 30px;
       height: 30px;
       padding: 0;

     }

     div{

       font-size: 30px;

     }

     .number-button {

       background-color: red;

     }

     .operator {

       background-color: white;

     }

     #zero {

       background-color: white;
       position: absolute;
       top: 122px;
       right: 1498px;

     }

     #ansoer {

       position: absolute;
       top: 122px;
       right: 1428px;

     }

     #second1 {

       position: absolute;
       top: 88px;
       right: 1498px;


     }
